.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.filter-input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 500px;
}

.tokens-list {
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 50%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: row;
  gap: 8px;
}

.element {
  padding: 8px;
  border-radius: 8px;
  background-color: #0c2c34;
  color: white;
}
